/docs/                            @alexveecle

/veecle-os-data-support-can*      @Nemo157

/veecle-os-data-support-someip*   @vvvar @vE5li
/capicxx-someip-sys*              @vvvar @vE5li
/someip-test-service*             @vvvar @vE5li

/veecle-ipc*                      @Nemo157
/veecle-orchestrator*             @Nemo157

/veecle-os-runtime*               @Nemo157

**/Cargo.lock
